a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;


}
.active a{
  color: $fivehd_red;
}

ul{
  display: block;
  li{
    float: left;
    a{
      display: block;
      padding: 10px 20px;

    }
  }
}
